# -----------------------------------------------------------------------
# [y] hybris Platform 
# 
# Copyright (c) 2000-2013 hybris AG
# All rights reserved.
#  
# This software is the confidential and proprietary information of hybris 
# ("Confidential Information"). You shall not disclose such Confidential
# Information and shall use it only in accordance with the terms of the
# license agreement you entered into with hybris.
#
#  
# -----------------------------------------------------------------------

# you can put key/value pairs here.
# Use Config.getParameter(..) to retrieve the values during runtime.

productcomparison.key=value

# Specifies the location of the spring context file putted automatically to the global platform application context.
productcomparison.application-context=productcomparison-spring.xml

yacceleratorstorefront.additionalWebSpringConfigs.productcomparison=classpath:/productcomparison/web/spring/productcomparison-web-spring.xml
yb2bacceleratorstorefront.additionalWebSpringConfigs.productcomparison=classpath:/productcomparison/web/spring/productcomparison-web-spring.xml


productcomparison.javascript.paths.desktop=/desktop/common/js/productcomparison.js
productcomparison.javascript.paths.responsive=/responsive/common/js/productcomparison.js

productcomparison.css.paths.desktop=/desktop/common/css/productcomparison.css
productcomparison.css.paths.desktop.blue=/desktop/theme-blue/css/productcomparison.css
productcomparison.css.paths.desktop.black=/desktop/theme-black/css/productcomparison.css
productcomparison.css.paths.desktop.green=/desktop/theme-green/css/productcomparison.css
productcomparison.css.paths.responsive=/responsive/common/css/productcomparison.css
productcomparison.css.paths.responsive.blue=/responsive/theme-blue/css/productcomparison.css


