.category-landing {
    .banner {
        @media (min-width: $screen-md-min) {
            border-bottom: 1px solid $light-grey;
        }
        img {
            display: block;
            width: 100%;
        }
    }
    .category-menu {
        .inner {
            background: $white;
            padding-top: 10px;
            position: relative;
            width: 100%;
            z-index: 100;
            &.sticky {
                position: fixed;
                top: 0;
            }
            label {
                font-family: $robo-medium;
                border-bottom: 4px solid $menu-bdr;
                display: inline-block;
                margin: 15px 0 0;
                padding-bottom: 16px;
                text-transform: none;
                @media (min-width: $screen-md-min) {
                    display: none;
                }
                i {
                    margin-left: 5px;
                }
            }
            ul.flexi-menu {
				display:none;
                background: $white;
                margin: 0 0 0 -15px;
                padding: 10px 15px 0;
                position: absolute;
                @media (min-width: $screen-md-min) {
					display:block;
					float: left;
                    margin: 11px 0 0;
                    padding: 0;
                    position: relative;
                }
                li {
                    @media (min-width: $screen-md-min) {
                        float: left;
                        margin-right: 38px;
                    }
                    a {
                        font-family: $robo-medium;
                        display: block;
                        padding: 0 0 10px;
                        @media (min-width: $screen-md-min) {
                            border-bottom: 4px solid transparent;
                            padding: 0 0 20px;
                        }
                    }
                    @media (min-width: $screen-md-min) {
                        &.active {
                            a {
                                border-bottom: 4px solid $about-span;
                            }
                        }
                    }
                }
            }
            .btn {
                float: right;
                padding: 14px 20px;
            }
        }
    }
    .responsive-video {
        position: relative;
        padding-bottom: 56.25%;
        overflow: hidden;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    .model-cat {
        .content {
            display: inline-block;
            @media (min-width: $screen-md-min) {
                margin: 0 auto;
                width: 50%;
            }
        }
    }
    .productComparePanel {
        @media (min-width: $screen-md-min) {
            margin-top: -45px;
        }
    }
    .overview {
        .story-wrp {
            padding-top: 0;
            h5 {
                @include font-size(24px);
                font-family: 'robotomedium';
                margin: 25px 0;
                text-transform: uppercase;
            }
        }
    }
    .applications {
        .disp-img {
            .thumb {
                background: $white;
                padding: 0;
            }
            .details {
                .gl-down {
                    position: static;
                }
                @media (min-width: $screen-md-min) {
                    padding-bottom: 55px;
                    padding-top: 20px;
                    .gl-down {
                        bottom: 0;
                        position: absolute;
                    }
                }
                @media (min-width: $screen-lg-min) {
                    padding-bottom: 70px;
                    .gl-down {
                        bottom: 10px;
                    }
                }
                h2 {
                    @include font-size(36px);
                    font-family: $robo-thin;
                    color: $white;
                    margin-bottom: 15px;
                }
                p {
                    @media (min-width: $screen-md-min) {
                        width: 68%;
                        @include font-size(14px);
                    }
                }
            }
        }
    }
    .cloud {
        .disp-img {
            > a {
                .thumb {
                    padding: 50px;
                    @media (min-width: $screen-md-min) {
                        padding: 75px 0;
                    }
                }
                .details {
                    @media (min-width: $screen-md-min) {
                        padding-bottom: 55px;
                    }
                    @media (min-width: $screen-lg-min) {
                        padding-bottom: 70px;
                    }
                    h2 {
                        @include font-size(30px);
                        margin-bottom: 15px;
                    }
                    span {
                        display: none;
                    }
                    .gl-down {
                        position: static;
                        @media (min-width: $screen-md-min) {
                            position: absolute;
                        }
                    }
                }
            }
        }
    }
	.benefits {
        padding: 50px 0 25px;
        text-align: center;
        .content{
         color:#ff8b01;
        }
		.yCmsComponent {
			float: none;
			display: inline-block;
			vertical-align: top;
			margin-right: -4px;
		}
        .disp-img {
            .thumb {
            	display:table-cell;
            	padding-top:0;
                background: $thumb-bg;
                border-radius: 42px;
                height: 84px;
                margin: 0 auto;
                vertical-align: middle;
                width: 84px;
            }
            .details {
                margin-top: 10px;
                p {
                    color: $details-txt;
                    font-family: Myriad Pro;
                    @media (min-width: $screen-md-min) {
                        padding: 0 10%;
                    }
                }
                i {
                    display: none;
                }
            }
        }
    }
    .models {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e8dbcf+100 */
        background: $white;
        /* Old browsers */
        background: -moz-linear-gradient(top, $white 0%, $model-gradient 100%);
        /* FF3.6-15 */
        background: -webkit-linear-gradient(top, $white 0%, $model-gradient 100%);
        /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, $white 0%, $model-gradient 100%);
        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=  '$white', endColorstr='$model-gradient',GradientType=0 );
        padding-top: 10px;
        @media (min-width: $screen-md-min) {
            padding: 40px 0 10px;
        }
        .title-row {
            margin-bottom: 28px;
            overflow: hidden;
            text-align: center;
            h2 {
                @include font-size(36px);
                font-family: $robo-thin;
                margin: 4px 0 12px;
                text-transform: uppercase;
                @media (min-width: $screen-md-min) {
                    display: inline-block;
                    margin-bottom: 0;
                }
            }
            button {
                margin-bottom: 10px;
                width: 100%;
                @media (min-width: $screen-md-min) {
                    float: left;
                    margin: 0;
                    width: auto;
                }
            }
            a {
                color: $highlight;
                text-decoration: underline;
                @media (min-width: $screen-md-min) {
                    color: $base-color;
                    float: right;
                    margin-top: 11px;
                }
            }
        }
        .product {
            padding-left: 4px;
            .col-xs-6:nth-child(5n) {
                clear: both;
            }
            .item-box {
                margin-left: -3px;
                display: inline-block;
                float: none;
                vertical-align: top;
            }
            .item {
                border: 1px solid transparent;
                margin-bottom: 30px;
                padding: 35px 20px 0;
                &:hover {
                    background: $white;
                    border: 1px solid $prdt-hover-bdr;
                    border-radius: 4px;
                }
            }
            .choose-section {
                margin: 0;
                .disp-img {
                    > a {
                        min-height: 380px;
                        .thumb {
                            display: none;
                        }
                        .details {
                            width: 100%;
                            i {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }
   .half-table{
	 	background:none;
	 	.simple-responsive-banner-component img{
		width:100%;
	}
	}
	.business-item{
		min-height: 250px;
		h6{
			font-weight:700;
		}
	}
}

.category-landing.live-layout, .category-landing.enterprise-layout{
	.row.business-content{
		margin: 60px auto 0 auto;
		max-width:800px;
	}
	.half-table.applications{
		background-color: #e0dede;
	}
	.half-table .disp-img{
		overflow:hidden;
	}
	.half-table .thumb{
		background:none;
		
	}
	.half-table .details p{
		color:#333;
		width:80%;
		padding:3px;
	}
	.half-table .details hr{
		width:80%;
		color:#666;
	}
	.disp-img .details{
		padding: 0 15px 15px;
		vertical-align:top;
	}
	 .right-section .simple-responsive-banner-component{
		margin-left:32%;
		img{
			min-height:40px;
		}
	}
	
}

.category-landing.enterprise-layout{
	.half-table .thumb .simple-responsive-banner-component img{
		width:70%;
	}
	.disp-img .details{
		padding:0;
	}
}
.category-landing.residential-layout{
	.row.business-content{
		margin: 60px auto 0 auto;
		max-width:1000px;
	}
	.category-menu .inner ul.flexi-menu li.active a {
		@media (min-width: $screen-md-min) {
			border-bottom: 4px solid #7cc143;
		}
	}
	.category-menu .inner label{
		border-bottom: 4px solid #7cc143;
	}
}
.category-landing.enterprise-layout{
	.category-menu .inner ul.flexi-menu li.active a {
			@media (min-width: $screen-md-min) {
				border-bottom: 4px solid #000000;
			}
		}
	.category-menu .inner label{
		border-bottom: 4px solid #000000;
	}
	
}


