//
// Checkboxes
// --------------------------------------------------
.checkbox {
    padding-left: 0;
    margin-bottom: 20px;
    label {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding-left: 19px;
        color: $black;
        cursor: pointer;
        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 22px;
            height: 22px;
            left: 0;
            margin-left: -12px;
            border: 1px solid $input-border;
            background-color: #fff;
            top: 0;
            @include transition(border 0.15s ease-in-out, color 0.15s ease-in-out);
        }
        &::after {
            display: inline-block;
            position: absolute;
            width: 22px;
            height: 22px;
            left: 0;
            top: -5px;
            margin-left: -12px;
            padding-left: 2.5px;
            padding-top: 0;
            font-size: 19px;
            color: $base-color;
        }
    }
    input[type="radio"] {
        &:checked ~ label::after {
            border-radius: 50%;
        }
    }
    input[type="checkbox"],
    input[type="radio"] {
        opacity: 0;
        z-index: 1;
        &:focus ~ label::before {
            @include tab-focus;
        }
        &:checked ~ label::after {
            background: $black;
            content: '';
            width: 18px;
            height: 18px;
            top: 2px;
            left: 2px;
        }
        &:indeterminate ~ label::after {
            display: block;
            content: "";
            width: 10px;
            height: 3px;
            background-color: #555555;
            margin-left: -16.5px;
            margin-top: 7px;
        }
        &:disabled ~ label {
            opacity: 0.65;
            &::before {
                cursor: not-allowed;
            }
        }
    }
    &.checkbox-circle label::before {
        border-radius: 50%;
    }
    &.checkbox-inline {
        margin-top: 0;
    }
}
.has-error {
    .checkbox {
        label {
            &::before {
                border: 1px solid $red;
            }
        }
    }
}
//
// Radios
// --------------------------------------------------
.radio {
    padding-left: 20px;
    label {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        padding-left: 5px;
        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            width: 17px;
            height: 17px;
            left: 0;
            margin-left: -20px;
            border: 1px solid $input-border;
            border-radius: 50%;
            background-color: #fff;
            @include transition(border 0.15s ease-in-out);
        }
        &::after {
            display: inline-block;
            position: absolute;
            content: " ";
            width: 11px;
            height: 11px;
            left: 3px;
            top: 3px;
            margin-left: -20px;
            border-radius: 50%;
            background-color: $input-color;
            @include scale(0, 0);
            @include transition-transform(0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33));
            //curve - http://cubic-bezier.com/#.8,-0.33,.2,1.33
        }
    }
    input[type="radio"] {
        opacity: 0;
        z-index: 1;
        position: absolute;
        &:focus ~ label::before {
            @include tab-focus;
        }
        &:checked ~ label::after {
            @include scale(1, 1);
        }
        &:disabled ~ label {
            opacity: 0.65;
            &::before {
                cursor: not-allowed;
            }
        }
    }
    &.radio-inline {
        margin-top: 0;
    }
}
input[type="checkbox"],
input[type="radio"] {
    &.styled:checked ~ label:after {
        background: $black;
    }
    .styled:checked ~ label {
        &::before {
            color: #fff;
        }
        &::after {
            color: #fff;
        }
    }
}
/*New style for checkbox*/
.glcheckbox {
    min-height: 22px;
    min-width: 22px;
    padding-left: 0;
    input[type="checkbox"] {
        display: none;
        &:checked ~ label:after {
            display: block;
            height: 14px;
            left: 3px;
            top: 3px;
            width: 14px;
        }
    }
    label {
        cursor: pointer;
        display: table;
        padding-left: 30px;
        text-transform: none;
        &:before {
            left: 0;
            height: 20px;
            margin: 0;
            width: 20px;
        }
        &:after {
            background: #333 !important;
            content: "" !important;
            display: none;
            height: 14px;
            left: 3px;
            margin: 0;
            padding: 0;
            top: 3px;
            width: 14px;
        }
    }
}
